
<main class="theme">
    <div class="chart-col">

        <div class="select-block">
            <mat-form-field>
                <mat-label>Select an option</mat-label>
                <mat-select 
                [(value)]="selected"
                [formControl]="selectFormControl"
                (ngModelChange)="setLayout($event)">
                    <mat-option *ngFor="let l of this.graphNodesData" [value]="l.value">
                        {{l.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="selectFormControl.hasError('required')">Please choose a lib</mat-error>
              </mat-form-field>

              <p>You selected: {{selected}}</p>
        </div>
        
        <div class="example-button-row">
            <button mat-stroked-button
                (click)="center()">Center</button>
            <button mat-stroked-button
                (click)="zoomToFit()">Fit in view</button>
            <button mat-stroked-button
                (click)="update()">Update</button>  
        </div>
    
            <div class="my_graph">
            <ngx-graph class="chart-container"
                        [links] = "this.graphLinksData"
                        [nodes] = "this.graphNodesData"
                        [curve] = "curve"
                        [draggingEnabled] = "draggingEnabled"
                        [enableZoom] = "true"
                        [zoomToFit$] = "zoomToFit$"
                        [center$] = "center$"
                        [update$] = "update$"
                        [panOnZoom] = "false">
                       

                <ng-template #defsTemplate>
                    <svg:marker id = "arrow"
                                viewBox = "0 -5 10 10"
                                refX = "8"
                                refY = "0"
                                markerWidth = "4"
                                markerHeight = "4"
                                orient = "auto">
                        <svg:path d = "M0,-5L10,0L0,5"
                                  class = "arrow-head" />
                    </svg:marker>
                </ng-template>

                <ng-template #nodeTemplate
                             let-node>
                    <svg:g class = "node">
                        <svg:rect [attr.width] = "node.dimension.width"
                                  [attr.height] = "node.dimension.height"
                                  [attr.fill] = "node.data.color"/>
                        <svg:text alignment-baseline = "central"
                                  [attr.x] = "10"
                                  [attr.y] = "node.dimension.height / 2">
                                  {{node.label}}
                        </svg:text>
                    </svg:g>
                </ng-template>

                <ng-template #linkTemplate
                             let-link>
                    <svg:g class = "edge">
                        <svg:path class = "line"
                                  stroke-width = "2"
                                  marker-end = "url(#arrow)">
                        </svg:path>
                        <svg:text class = "edge-label"
                                  text-anchor = "middle">
                            <textPath style = "fill: #666; font-size: 18px; dominant-baseline: text-after-edge;"
                                      [attr.href] = "'#' + link.id"
                                      startOffset = "65%">
                                {{link.label}}
                            </textPath>
                        </svg:text>
                    </svg:g>
                </ng-template>
            </ngx-graph>
        </div>
    </div>
</main>
