<form [formGroup]="projectTableForm">
    <div class="filter-panel">
        <div class="top">
            <div class="filter">
                <div class="header">
                    <p>Фильтровать по:</p>
                </div>
                <div class="example-button-row">

                    <mat-checkbox
                        formControlName="NPMСheckboxState"
                        (change)="onChangedCheckNPM()">
                        NPM
                    </mat-checkbox>

                    <mat-checkbox
                        formControlName="NPMScoutСheckboxState"
                        (change)="onChangedCheckNPMScout()">
                        NPM Scout
                    </mat-checkbox>

                    <mat-checkbox
                        formControlName="GitLabСheckboxState"
                        (change)="onChangedCheckGitlab()">
                        Gitlab
                    </mat-checkbox>

                    <button mat-icon-button color="primary"
                            (click)="onClickedAddedCheckboxSourceFilter()"> + </button>
                    <button mat-icon-button color="warn"
                            (click)="onClickedClearedCheckboxSourceFilter()"> - </button>
                    

                </div>

                    
                </div>
            <div class="searchPanel">
                <div class="header">
                    <p>Поиск:</p>
                </div>
                <div class="searchForm">

                    <mat-form-field class="example-full-width">
                        <input matInput
                            placeholder="Библиотека"
                            formControlName="SearchDepInput"
                            (input)="onChangedSearchDepInput($event.target.value)" >
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput
                            placeholder="По проекту"
                            formControlName="SearchProjectInput"
                            (input)="onChangedSearchProjectInput($event.target.value)" >
                    </mat-form-field>

                </div>
            </div>

        </div>

    </div>
    <div class="tableLegend">
        <button mat-raised-button color="primary"
                (click)="onClickedShowHiddenTableLegend()"> Описание таблицы </button>
                

        <ng-container *ngIf="f.ShowTableLegend.value; then showLegend; else hiddenLegend"></ng-container>

        <ng-template #showLegend>
            <div>
                <ul class="list">
                    <li class="item"><span class="dot darkRed"></span>Не последняя, по первому числу в версии</li>
                    <li class="item"><span class="dot red"></span>Не последняя, по среднему числу в версии</li>
                    <li class="item"><span class="dot lightRed"></span>Не последняя, по последнему количеству в версии</li>
                </ul>
            </div>
        </ng-template>
        <ng-template #hiddenLegend>
            <div>
                <p>Пожалуйста, нажмите на кнопку «Описание таблицы» для отображения / скрытия легенды таблицы</p>
            </div>
        </ng-template>
    </div>
</form>

<div class="dataTable">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Проект</th>
                <th>Зависимая библиотека</th>
                <th>Используемая версия</th>
                <th>Последняя версия</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let items of dataTables$ | async">
                <ng-container *ngIf="isVisibleSource(items)">
                    <tr *ngFor="let _item of items.dependencies; let i = index">
                        <td *ngIf="i < 1"
                            [attr.rowspan]="items.dependencies.length">{{items.lib}}</td>
                        <td [attr.class]="getCss(_item)">{{_item.depLib}}</td>
                        <td [attr.class]="getCss(_item)">{{_item.useVersion}}</td>
                        <td [attr.class]="getCss(_item)">{{_item.actualVersion}}</td>
                    </tr>
                </ng-container>
            </ng-container>
        </tbody>
    </table>
</div>
