<form [formGroup]="depTableFrom$">
    <div class="filter-panel">
        <div class="top">
            <div class="filter">
                <div class="header">
                    <p>Фильтровать по:</p>
                </div>

                <div class="example-button-row">
                    <mat-checkbox formControlName="NPMСheckboxState" (change)="onChangedCheckNPM()">
                        NPM
                    </mat-checkbox>

                    <mat-checkbox formControlName="NPMScoutСheckboxState" (change)="onChangedCheckNPMScout()">
                        NPM Scout
                    </mat-checkbox>

                    <mat-checkbox formControlName="GitLabСheckboxState" (change)="onChangedCheckGitlab()">
                        Gitlab
                    </mat-checkbox>
                    <button mat-icon-button color="primary" (click)="onClickedAddedCheckboxSourceFilter()">
                        +
                    </button>
                    <button mat-icon-button color="warn" (click)="onClickedClearedCheckboxSourceFilter()">
                        -
                    </button>
                </div>
            </div>

            <div class="searchPanel">
                <div class="header">
                    <p>Поиск:</p>
                </div>
                <div class="searchForm">

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Библиотека" formControlName="SearchDepInput"
                            (input)="onChangedSearchDepInput($event.target.value)">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Проект" formControlName="SearchProjectInput"
                            (input)="onChangedSearchProjectInput($event.target.value)">
                    </mat-form-field>
                </div>
            </div>
        </div>



        <div class="tableLegend">
            <button mat-raised-button color="primary" (click)="onClickedShowHiddenTableLegend()"> Описание таблицы
            </button>

            <ng-container *ngIf="f.ShowTableLegend.value; then showLegend; else hiddenLegend"></ng-container>

            <ng-template #showLegend>
                <div>
                    <ul class="list">
                        <li class="item"><span class="dot darkRed"></span>Различие в несколько версий. Не последняя по первому числу в версии</li>
                        <li class="item"><span class="dot red"></span>Различие в несколько версий. Не последняя по среднему числу в версии</li>
                        <li class="item"><span class="dot lightRed"></span>Различие в несколько версий. Не последняя по последнему числу в версии</li>
                        <li class="item"><span class="dot darkOrange"></span>Однинаковые версии. Не последняя по первому числу в версии</li>
                        <li class="item"><span class="dot orange"></span>Однинаковые версии. Не последняя по среднему числу в версии</li>
                        <li class="item"><span class="dot lightOrange"></span>Однинаковые версии. Не последняя по последнему числу в версии</li>
                    </ul>
                </div>
            </ng-template>
            <ng-template #hiddenLegend>
                <div>
                    <p>Пожалуйста, нажмите на кнопку «Описание таблицы» для отображения / скрытия легенды таблицы</p>
                </div>
            </ng-template>

        </div>

    </div>
</form>

<div class="dataTable">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dependency Library</th>
                <th>Version</th>
                <th>Project</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let items of dataTables$ | async">
                <ng-container *ngIf="isVisibleSource(items)">
                    <ng-container *ngIf="isVisibleColor(items)">
                        <ng-container>
                            <!-- Первая строка: dendency, первая version, первая library для первой version -->
                            <tr>
                                <td [attr.class]="getCss(items)" [attr.rowspan]="items.depsLength">{{ items.libDep }}
                                </td>
                                <td [attr.class]="getCss(items)" [attr.rowspan]="items.dep[0].libs.length">
                                    {{ items.dep[0].v }}</td>
                                <td [attr.class]="getCss(items)">{{ items.dep[0].libs[0] }}</td>
                            </tr>
                            <!-- вторая строка: не первая version -->
                            <ng-container *ngFor="let item of items.dep[0].libs; first as isFirst">
                                <tr *ngIf="!isFirst">
                                    <td [attr.class]="getCss(items)">{{ item }}</td>
                                </tr>
                            </ng-container>

                            <ng-container *ngFor="let item of items.dep; first as isFirst">
                                <tr *ngIf="!isFirst">
                                    <td [attr.class]="getCss(items)" [attr.rowspan]="item.libs.length">{{ item.v }}</td>
                                    <td [attr.class]="getCss(items)">{{ item.libs[0] }}</td>

                                </tr>

                                <ng-container *ngIf="!isFirst">
                                    <ng-container *ngFor="let lib of item.libs; first as isFirstLib">
                                        <tr *ngIf="!isFirstLib">
                                            <td [attr.class]="getCss(items)"> {{ lib }}</td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>

                    </ng-container>
                </ng-container>
            </ng-container>
        </tbody>
    </table>
</div>