<div id="login">
    <div id="header">
        <h2>Log In</h2>
    </div>
    <div id="login_form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="form-group">
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': formComtrols.username?.errors }" >
                <mat-error>
                   <span *ngIf="formComtrols.username?.errors">Username is required</span>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="form-group">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': formComtrols.password?.errors }" >
                <mat-error>
                    <span *ngIf="formComtrols.username?.errors">Password is required</span>
                </mat-error>
            </mat-form-field>
            <br>
            <div class="form-group">
                <button type="submit" [ngStyle]="loading ? { 'background-color': 'orange','color': 'white'} : null"
                    class="btn" [disabled]="loginForm.invalid">Log In</button>
                <div class="invalid_text" *ngIf="errorMessage">{{errorMessage}}</div>
            </div>
        </form>
    </div>
</div>


<!-- <div class="example-container">

</div> -->