#panel {
    margin: 10px 0;
    text-align: right;
    #logout_link {
        margin-right: 50px;
        text-decoration: none;
        font-size: 18px;
        outline: 0;
        background-color: black;
        color: white;
        border: none;
        padding: 5px 10px;
        &:hover {
            background-color: #50abcc;
        }

        &:active {
            background-color: orange;
        }
    }
}

#routing  {
    nav {
        height: 30px;
        .routing_link {
            margin-right: 5px;
            text-decoration: none;
            font-size: 18px;
            outline: 0;
            background-color: black;
            color: white;
            border: none;
            padding: 5px 10px;
            &:hover {
                    background-color: #50abcc;
            }
            &.active {
                background-color: orange;
                &:hover {
                    background-color: #50abcc;
                }
            }
        }
    }
}